/*
font-family: 'Dosis', sans-serif;
font-family: 'Lato', sans-serif;
*/


body{
    background-image: url(../images/featured_bg.png);
    font-family: 'Dosis', sans-serif;
    color: #8B0D32;

}
/*header starts*/
header{
    background-color: #F4F4F4;
}
.custom_secondary{
    border: none !important;
    background:transparent !important;
}
.custom_icon{
    padding:10px;
    color:#FF0202;
}
.custom_2{
    padding:10px;
    color:white;
}
.custom_nav ul li a{
    font-weight: bold;
    font-size: 15px;
    color: #8B0D32 !important;
    padding: 0 20px !important;
    border-radius: 15px;
    font-family: sans-serif;
    text-transform: capitalize;
}
.custom_nav ul li a:hover{
        background-color: #f05c5c;
}
/*header ends*/

/*why starts*/
/*kid starts*/
.kid{
    padding: 50px;
}
.common_title{}
.common_title h1{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;

    font-size: 40px;
}

.common_title hr{
     width: 230px;
    border-bottom: 3px dashed #8B0D32 ;
    margin: 0 auto;
}
.kid_content{
    padding-top: 60px;
}
.kid_content h1{
    font-weight: bold;
    font-size: 30px;
}
.kid_content hr{
    width: 200px;
    margin-left:0; 
}
.kid_content p{
      font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: light;

   
}
.kid_content a{}
.kid_img{
    padding-top: 60px;
}
.kid_img img{
    border-radius: 20px;
}





/*why ends*/